.env
.env copy
.DS_Store
.venv/
__pycache__
**/__pycache__/
*.pyc
.uv-cache/
matriz_distancia.csv
solution.sol
resultados/fix_and_optimize/*.csv
resultados/fix_and_optimize/*.json
resultados/fix_and_optimize/*.sol
resultados/candidatos/*.sol
resultados/fix_and_optimize/candidatos/*.sol
!resultados/fix_and_optimize/candidatos/.gitkeep
